### Sorting and visualizing UniPept lowest common ancestor analyses over diatom degradation experiment

#### Beginning with: LCA peptides in csvs

#### Goal: spectral abundance-corrected (NAAF) algal and bacterial peptide over the 4 timepoints

## Issue: the `join` commands at the end for diatom and bacterial peptides need to be run independently from one another. To do this, run the diatom command, restart the kernal, then run the bacterial.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
# read the data into pandas dataframes
tryp_325_DB = pd.read_csv("/home/millieginty/Documents/git-repos/rot-mayer/analyses/unipept/lca/cleaned/T12-325-trypsin-lca-DB.csv")

tryp_325_DB.head(6)

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
0,LPQVEGTGGDVQPSQDLVR,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VLGQNEAVDAVSNALR,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALDLLDEAASSLR,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DVPGTGNEFVGDFR,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VTDAELAEVLAR,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DVTGEAEFVGDFR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# keep only the rows where kingdom = Bacteria

tryp_325_DB_Bac1 = tryp_325_DB.loc[(tryp_325_DB['kingdom'] == 'Bacteria')]

tryp_325_DB_Bac2 = tryp_325_DB.loc[(tryp_325_DB['subkingdom'] == 'Bacteria')]

print('# of kingdom = ', len(tryp_325_DB_Bac1))

print('# of subkingdom = ', len(tryp_325_DB_Bac2))

frames = [tryp_325_DB_Bac1, tryp_325_DB_Bac2]
  
tryp_325_DB_Bac = pd.concat(frames)

print('# of total Bacteria peptides = ', len(tryp_325_DB_Bac))

tryp_325_DB_Bac.head()

# of kingdom =  1
# of subkingdom =  1
# of total Bacteria peptides =  2

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
131,NDEALAFLR,Chloroflexi,bacterium,Bacteria,NaN,NaN,NaN,Chloroflexi,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chloroflexi,bacterium,NaN
158,DKFDEETK,Candidatus,Cloacimonetes,bacterium,Bacteria,NaN,NaN,NaN,Candidatus,Cloacimonetes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Candidatus

In [4]:
# keep only the rows where phylum = Bacteria

tryp_325_DB_Dia1 = tryp_325_DB.loc[(tryp_325_DB['phylum'] == 'Bacillariophyta')]

tryp_325_DB_Dia2 = tryp_325_DB.loc[(tryp_325_DB['subphylum'] == 'Bacillariophyta')]

print('# of phylum = ', len(tryp_325_DB_Dia1))

print('# of subphylum = ', len(tryp_325_DB_Dia2))

frames = [tryp_325_DB_Dia1, tryp_325_DB_Dia2]
  
tryp_325_DB_Dia = pd.concat(frames)

print('# of total diatom peptides = ', len(tryp_325_DB_Dia))

print('colunm names:', tryp_325_DB_Dia.columns)

tryp_325_DB_Dia.head()

# of phylum =  14
# of subphylum =  8
# of total diatom peptides =  22
colunm names: Index(['peptide', 'lca', 'superkingdom', 'kingdom', 'subkingdom',
       'superphylum', 'phylum', 'subphylum', 'superclass', 'class', 'subclass',
       'infraclass', 'superorder', 'order', 'suborder', 'infraorder',
       'parvorder', 'superfamily', 'family', 'subfamily', 'tribe', 'subtribe',
       'genus', 'subgenus', 'species', 'group', 'species.1', 'subgroup',
       'species.2', 'subspecies'],
      dtype='object')

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
3,DVPGTGNEFVGDFR,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DVTGEGEFVGDFR,Thalassiosirales,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Coscinodiscophyceae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NGALDFGWDSFDEETK,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NGALDFGWDK,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NGYLDFGWDDFDEETK,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Now I want to read in the file containing the stripped peptides with NAAF values
####  - NAAF stands for 'noramlized area abunace factor'

### I want to join the dataframes if they share an index (stripped peptide with equated leucine and isoleucines)
#### - That means I'll reindex the processed peptide file

In [5]:
tryp_325_DB_NAAF = pd.read_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T12_325_trypsin_DB_peptides.csv")

tryp_325_DB_NAAF.set_index('stripped_IL')
tryp_325_DB_NAAF = tryp_325_DB_NAAF.loc[:, ~tryp_325_DB_NAAF.columns.str.contains('^Unnamed')]

tryp_325_DB_NAAF.rename(columns = {'stripped_IL':'peptide'}, inplace = True)

print('# of total peptides = ', len(tryp_325_DB_NAAF))

print('column names:', tryp_325_DB_NAAF.columns)

tryp_325_DB_NAAF.head()

# of total peptides =  302
column names: Index(['peptide', 'Area', 'NAAF_num.'], dtype='object')

               peptide         Area     NAAF_num.
0  LPQVEGTGGDVQPSQDLVR  206000000.0  1.084211e+07
1     VLGQNEAVDAVSNALR  179000000.0  1.118750e+07
2        ALDLLDEAASSLR  126000000.0  9.692308e+06
3       DVPGTGNEFVGDFR   81800000.0  5.842857e+06
4         VTDAELAEVLAR  110000000.0  9.166667e+06

In [6]:
# get the intersection of the diatom peptides and corresponding peptides w/ NAAFs

over = np.intersect1d(tryp_325_DB_Dia["peptide"], tryp_325_DB_NAAF["peptide"])

print(over)

#print(tryp_325_DB_Dia[tryp_325_DB_NAAF.peptide.isin(over)])

#print(tryp_325_DB_NAAF[tryp_325_DB_Dia.peptide.isin(over)])

['ALQELQHGR' 'APGDFGLDGGFLK' 'CSESPAFTK' 'CSESPAFTKR' 'DQFNKVFQL'
 'DVPGTGNEFVGDFR' 'DVTGEGEFVGDFR' 'DVTGQGEFVGDFR' 'FGLATATGR' 'GLDTVLFER'
 'LAQLAFLGNLLTR' 'LPFFGCPTAGNR' 'NAAGQAVEGLAR' 'NGALDFGWDK'
 'NGALDFGWDSFDEETK' 'NGFLDFGWDK' 'NGYLDFGWDDFDEETK' 'SEGTDLQTK'
 'SEGTDLQTKK' 'SLPFLTVPEK' 'SLPFLTVPEKLD' 'SNEETLAWLR']

In [ ]:
# join the dataframes if the peptide values are the same using 'join'
# since a couple are de novo only (more for bacteria), we won't have all the UniPept peptides overlap 

tryp_325_DB_Dia.set_index('peptide', inplace=True)
tryp_325_DB_NAAF.set_index('peptide', inplace=True)

tryp_325_DB_Diatoms = tryp_325_DB_Dia.join(tryp_325_DB_NAAF, how='left', rsuffix='_other')


print('# of total diatom peptides = ', len(tryp_325_DB_Diatoms))

tryp_325_DB_Diatoms.head()

In [ ]:
# write to a csv

tryp_325_DB_Diatoms.to_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T12_325_trypsin_DB_NAAF_diatom_peptides.csv")

In [7]:
# join the dataframes if the peptide values are the same using 'join'
# since a couple are de novo only (more for bacteria), we won't have all the UniPept peptides overlap 

tryp_325_DB_Bac.set_index('peptide', inplace=True)
tryp_325_DB_NAAF.set_index('peptide', inplace=True)

tryp_325_DB_Bacteria = tryp_325_DB_Bac.join(tryp_325_DB_NAAF, how='left', rsuffix='_other')


print('# of total Bacteria peptides = ', len(tryp_325_DB_Bacteria))

tryp_325_DB_Bacteria.head()

# of total Bacteria peptides =  2

,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,subclass,...,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies,Area,NAAF_num.
peptide,,,,,,,,,,,,,,,,,,,,,
DKFDEETK,Candidatus,Cloacimonetes,bacterium,Bacteria,NaN,NaN,NaN,Candidatus,Cloacimonetes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Candidatus,40800000.0,5.100000e+06
NDEALAFLR,Chloroflexi,bacterium,Bacteria,NaN,NaN,NaN,Chloroflexi,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Chloroflexi,bacterium,NaN,1970000.0,2.188889e+05

In [8]:
# write to a csv

tryp_325_DB_Bacteria.to_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T12_325_trypsin_DB_NAAF_bacteria_peptides.csv")