### Sorting and visualizing UniPept lowest common ancestor analyses over diatom degradation experiment

#### Beginning with: LCA peptides in csvs

#### Goal: spectral abundance-corrected (NAAF) algal and bacterial peptide over the 4 timepoints

## Issue: the `join` commands at the end for diatom and bacterial peptides need to be run independently from one another. To do this, run the diatom command, restart the kernal, then run the bacterial.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
# read the data into pandas dataframes
tryp_325_DN = pd.read_csv("/home/millieginty/Documents/git-repos/rot-mayer/analyses/unipept/lca/cleaned/T12-325-trypsin-lca-DN.csv")

tryp_325_DN.head(6)

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
0,SPPALALK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KNEAEELK,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FLGNLLTR,Bacteria,Bacteria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DEETKLSK,Biomphalaria,glabrata,Eukaryota,Metazoa,NaN,NaN,Mollusca,NaN,NaN,...,NaN,NaN,NaN,Biomphalaria,NaN,NaN,NaN,Biomphalaria,glabrata,NaN
4,HLDVDDSGK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RVLEER,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# keep only the rows where kingdom = Bacteria

tryp_325_DN_Bac1 = tryp_325_DN.loc[(tryp_325_DN['kingdom'] == 'Bacteria')]

tryp_325_DN_Bac2 = tryp_325_DN.loc[(tryp_325_DN['subkingdom'] == 'Bacteria')]

print('# of kingdom = ', len(tryp_325_DN_Bac1))

print('# of subkingdom = ', len(tryp_325_DN_Bac2))

frames = [tryp_325_DN_Bac1, tryp_325_DN_Bac2]
  
tryp_325_DN_Bac = pd.concat(frames)

print('# of total Bacteria peptides = ', len(tryp_325_DN_Bac))

tryp_325_DN_Bac.head()

# of kingdom =  135
# of subkingdom =  8
# of total Bacteria peptides =  143

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
64,VTNAELAEVLAR,Escherichia,coli,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,Escherichia,NaN,NaN,NaN,Escherichia,coli,NaN
99,VSNDTAENR,Marinirhabdus,gelatinilytica,Bacteria,NaN,NaN,NaN,Bacteroidetes,NaN,NaN,...,NaN,NaN,NaN,Marinirhabdus,NaN,NaN,NaN,Marinirhabdus,gelatinilytica,NaN
106,FFLFDDVR,Verrucomicrobia,bacterium,Bacteria,NaN,NaN,NaN,Verrucomicrobia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Verrucomicrobia,bacterium,NaN
145,TNFVNPK,Chryseobacterium,arthrosphaerae,Bacteria,NaN,NaN,NaN,Bacteroidetes,NaN,NaN,...,NaN,NaN,NaN,Chryseobacterium,NaN,NaN,NaN,Chryseobacterium,arthrosphaerae,NaN
176,LATVLSPR,Gammaproteobacteria,bacterium,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gammaproteobacteria,bacterium,NaN

In [4]:
# keep only the rows where phylum = Bacillariophyta

tryp_325_DN_Dia1 = tryp_325_DN.loc[(tryp_325_DN['phylum'] == 'Bacillariophyta')]

tryp_325_DN_Dia2 = tryp_325_DN.loc[(tryp_325_DN['subphylum'] == 'Bacillariophyta')]

print('# of phylum = ', len(tryp_325_DN_Dia1))

print('# of subphylum = ', len(tryp_325_DN_Dia2))

frames = [tryp_325_DN_Dia1, tryp_325_DN_Dia2]
  
tryp_325_DN_Dia = pd.concat(frames)

print('# of total diatom peptides = ', len(tryp_325_DN_Dia))

print('colunm names:', tryp_325_DN_Dia.columns)

tryp_325_DN_Dia.head()

# of phylum =  5
# of subphylum =  3
# of total diatom peptides =  8
colunm names: Index(['peptide', 'lca', 'superkingdom', 'kingdom', 'subkingdom',
       'superphylum', 'phylum', 'subphylum', 'superclass', 'class', 'subclass',
       'infraclass', 'superorder', 'order', 'suborder', 'infraorder',
       'parvorder', 'superfamily', 'family', 'subfamily', 'tribe', 'subtribe',
       'genus', 'subgenus', 'species', 'group', 'species.1', 'subgroup',
       'species.2', 'subspecies'],
      dtype='object')

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
681,CSESPAFTK,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1550,DVTGEGEFVGDFR,Thalassiosirales,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Coscinodiscophyceae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,LNNPKTDLFLK,Thalassiosirales,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Coscinodiscophyceae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1852,DVPGTGNEFVGDFR,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3877,SLPFLTVPEK,Thalassiosirales,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Coscinodiscophyceae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Now I want to read in the file containing the stripped peptides with NAAF values
####  - NAAF stands for 'noramlized area abunace factor'

### I want to join the dataframes if they share an index (stripped peptide with equated leucine and isoleucines)
#### - That means I'll reindex the processed peptide file

In [5]:
tryp_325_DN_NAAF = pd.read_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T12_325_trypsin_DN_peptides.csv")

tryp_325_DN_NAAF.set_index('stripped_peptide')
tryp_325_DN_NAAF = tryp_325_DN_NAAF.loc[:, ~tryp_325_DN_NAAF.columns.str.contains('^Unnamed')]

tryp_325_DN_NAAF.rename(columns = {'stripped_peptide':'peptide'}, inplace = True)

print('# of total peptides = ', len(tryp_325_DN_NAAF))

print('column names:', tryp_325_DN_NAAF.columns)

tryp_325_DN_NAAF.head()

# of total peptides =  6068
column names: Index(['peptide', 'Area', 'NAAF_num.'], dtype='object')

    peptide        Area  NAAF_num.
0  SPPALALK    852000.0   106500.0
1  KNEAEELK    330000.0    41250.0
2  FLGNLLTR  30600000.0  3825000.0
3  SPPALALK    851000.0   106375.0
4  DEETKLSK   1030000.0   128750.0

In [6]:
# get the intersection of the diatom peptides and corresponding peptides w/ NAAFs

over = np.intersect1d(tryp_325_DN_Dia["peptide"], tryp_325_DN_NAAF["peptide"])

print(over)

#print(tryp_325_DN_Dia[tryp_325_DN_NAAF.peptide.isin(over)])

#print(tryp_325_DN_NAAF[tryp_325_DN_Dia.peptide.isin(over)])

['ALQELQHGR' 'CSESPAFTK' 'DVPGTGNEFVGDFR' 'DVTGEGEFVGDFR' 'ETLGVSLAR'
 'LAQLAFLGNLLTR' 'LNNPKTDLFLK' 'SLPFLTVPEK']

In [ ]:
# join the dataframes if the peptide values are the same using 'join'
# since a couple are de novo only (more for bacteria), we won't have all the UniPept peptides overlap 

tryp_325_DN_Dia.set_index('peptide', inplace=True)
tryp_325_DN_NAAF.set_index('peptide', inplace=True)

tryp_325_DN_Diatoms = tryp_325_DN_Dia.join(tryp_325_DN_NAAF, how='left', rsuffix='_other')


print('# of total diatom peptides = ', len(tryp_325_DN_Diatoms))

tryp_325_DN_Diatoms.head()

In [ ]:
# write to a csv

tryp_325_DN_Diatoms.to_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T12_325_trypsin_DN_NAAF_diatom_peptides.csv")

In [7]:
# join the dataframes if the peptide values are the same using 'join'
# since a couple are de novo only (more for bacteria), we won't have all the UniPept peptides overlap 

tryp_325_DN_Bac.set_index('peptide', inplace=True)
tryp_325_DN_NAAF.set_index('peptide', inplace=True)

tryp_325_DN_Bacteria = tryp_325_DN_Bac.join(tryp_325_DN_NAAF, how='left', rsuffix='_other')


print('# of total Bacteria peptides = ', len(tryp_325_DN_Bacteria))

tryp_325_DN_Bacteria.head()

# of total Bacteria peptides =  184

,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,subclass,...,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies,Area,NAAF_num.
peptide,,,,,,,,,,,,,,,,,,,,,
AFLGELVTR,Bacillus,wiedmannii,Bacteria,NaN,NaN,NaN,Firmicutes,NaN,NaN,Bacilli,...,NaN,Bacillus,NaN,Bacillus,cereus,group,NaN,Bacillus,76500.0,8500.000000
AFTNATAR,Lactobacillus,sunkii,Bacteria,NaN,NaN,NaN,Firmicutes,NaN,NaN,Bacilli,...,NaN,Lactobacillus,NaN,NaN,NaN,Lactobacillus,sunkii,NaN,174000.0,21750.000000
AFTNATAR,Lactobacillus,sunkii,Bacteria,NaN,NaN,NaN,Firmicutes,NaN,NaN,Bacilli,...,NaN,Lactobacillus,NaN,NaN,NaN,Lactobacillus,sunkii,NaN,265000.0,33125.000000
AGGTWQEK,Ruminococcaceae,bacterium,Bacteria,NaN,NaN,NaN,Firmicutes,NaN,NaN,Clostridia,...,NaN,NaN,NaN,NaN,NaN,Ruminococcaceae,bacterium,NaN,58700.0,7337.500000
AGLGDLLER,Mesorhizobium,albiziae,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,Alphaproteobacteria,...,NaN,Mesorhizobium,NaN,NaN,NaN,Mesorhizobium,albiziae,NaN,508000.0,56444.444444

In [8]:
# write to a csv

tryp_325_DN_Bacteria.to_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T12_325_trypsin_DN_NAAF_bacteria_peptides.csv")