### Sorting and visualizing UniPept lowest common ancestor analyses over diatom degradation experiment

#### Beginning with: LCA peptides in csvs

#### Goal: spectral abundance-corrected (NAAF) algal and bacterial peptide over the 4 timepoints

## Issue: the `join` commands at the end for diatom and bacterial peptides need to be run independently from one another. To do this, run the diatom command, restart the kernal, then run the bacterial.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
# read the data into pandas dataframes
tryp_323_DN = pd.read_csv("/home/millieginty/Documents/git-repos/rot-mayer/analyses/unipept/lca/cleaned/T2-323-trypsin-lca-DN.csv")

tryp_323_DN.head(6)

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
0,TPEEEER,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HAVSEGTK,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KQELEDLTK,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TTEEAVR,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLAYPK,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,KLVDSFEK,root,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# keep only the rows where kingdom = Bacteria

tryp_323_DN_Bac1 = tryp_323_DN.loc[(tryp_323_DN['kingdom'] == 'Bacteria')]

tryp_323_DN_Bac2 = tryp_323_DN.loc[(tryp_323_DN['subkingdom'] == 'Bacteria')]

print('# of kingdom = ', len(tryp_323_DN_Bac1))

print('# of subkingdom = ', len(tryp_323_DN_Bac2))

frames = [tryp_323_DN_Bac1, tryp_323_DN_Bac2]
  
tryp_323_DN_Bac = pd.concat(frames)

print('# of total Bacteria peptides = ', len(tryp_323_DN_Bac))

tryp_323_DN_Bac.head()

# of kingdom =  125
# of subkingdom =  9
# of total Bacteria peptides =  134

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
117,VTNAELAEVLAR,Escherichia,coli,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,Escherichia,NaN,NaN,NaN,Escherichia,coli,NaN
134,SNGLSEEK,Gammaproteobacteria,bacterium,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gammaproteobacteria,bacterium,NaN
259,VSLNKVYK,Ehrlichia,minasensis,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,Ehrlichia,NaN,canis,group,NaN,Ehrlichia,minasensis
291,EVPQELVR,Pseudomonas,cichorii,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,Pseudomonas,NaN,Pseudomonas,syringae,group,NaN,Pseudomonas
329,LATVLSPR,Gammaproteobacteria,bacterium,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gammaproteobacteria,bacterium,NaN

In [4]:
# keep only the rows where phylum = Bacillariophyta

tryp_323_DN_Dia1 = tryp_323_DN.loc[(tryp_323_DN['phylum'] == 'Bacillariophyta')]

tryp_323_DN_Dia2 = tryp_323_DN.loc[(tryp_323_DN['subphylum'] == 'Bacillariophyta')]

print('# of phylum = ', len(tryp_323_DN_Dia1))

print('# of subphylum = ', len(tryp_323_DN_Dia2))

frames = [tryp_323_DN_Dia1, tryp_323_DN_Dia2]
  
tryp_323_DN_Dia = pd.concat(frames)

print('# of total diatom peptides = ', len(tryp_323_DN_Dia))

print('colunm names:', tryp_323_DN_Dia.columns)

tryp_323_DN_Dia.head()

# of phylum =  5
# of subphylum =  8
# of total diatom peptides =  13
colunm names: Index(['peptide', 'lca', 'superkingdom', 'kingdom', 'subkingdom',
       'superphylum', 'phylum', 'subphylum', 'superclass', 'class', 'subclass',
       'infraclass', 'superorder', 'order', 'suborder', 'infraorder',
       'parvorder', 'superfamily', 'family', 'subfamily', 'tribe', 'subtribe',
       'genus', 'subgenus', 'species', 'group', 'species.1', 'subgroup',
       'species.2', 'subspecies'],
      dtype='object')

,peptide,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,...,tribe,subtribe,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies
86,VLEDADVSK,Thalassiosira,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Coscinodiscophyceae,...,NaN,NaN,Thalassiosira,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,GPNGLNLNK,Neidium,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Bacillariophyceae,...,NaN,NaN,Neidium,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,SLPFLTVPEK,Thalassiosirales,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,Coscinodiscophyceae,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2344,NPEPASLK,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2418,NGLENYCYSLK,Bacillariophyta,Eukaryota,NaN,NaN,NaN,Bacillariophyta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Now I want to read in the file containing the stripped peptides with NAAF values
####  - NAAF stands for 'noramlized area abunace factor'

### I want to join the dataframes if they share an index (stripped peptide with equated leucine and isoleucines)
#### - That means I'll reindex the processed peptide file

In [5]:
tryp_323_DN_NAAF = pd.read_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T2_323_trypsin_DN_peptides.csv")

tryp_323_DN_NAAF.set_index('stripped_peptide')
tryp_323_DN_NAAF = tryp_323_DN_NAAF.loc[:, ~tryp_323_DN_NAAF.columns.str.contains('^Unnamed')]

tryp_323_DN_NAAF.rename(columns = {'stripped_peptide':'peptide'}, inplace = True)

print('# of total peptides = ', len(tryp_323_DN_NAAF))

print('column names:', tryp_323_DN_NAAF.columns)

tryp_323_DN_NAAF.head()

# of total peptides =  5780
column names: Index(['peptide', 'Area', 'NAAF_num.'], dtype='object')

     peptide       Area      NAAF_num.
0    TPEEEER   169000.0   24142.857143
1   HAVSEGTK     7280.0     910.000000
2  KQELEDLTK  3600000.0  400000.000000
3    TPEEEER   125000.0   17857.142857
4    TTEEAVR   419000.0   59857.142857

In [6]:
# get the intersection of the diatom peptides and corresponding peptides w/ NAAFs

over = np.intersect1d(tryp_323_DN_Dia["peptide"], tryp_323_DN_NAAF["peptide"])

print(over)

#print(tryp_323_DN_Dia[tryp_323_DN_NAAF.peptide.isin(over)])

#print(tryp_323_DN_NAAF[tryp_323_DN_Dia.peptide.isin(over)])

['EEMLELNR' 'EENNPLAQDVK' 'EGLGYSLGR' 'ETLGVSLAR' 'FNSLVLAR' 'GPNGLNLNK'
 'NGLENYCYSLK' 'NPEPASLK' 'SLPFLTVPEK' 'TGATGFGSK' 'TVAVDGAGK' 'VLEDADVSK'
 'WDPNSPR']

In [ ]:
# join the dataframes if the peptide values are the same using 'join'
# since a couple are de novo only (more for bacteria), we won't have all the UniPept peptides overlap 

tryp_323_DN_Dia.set_index('peptide', inplace=True)
tryp_323_DN_NAAF.set_index('peptide', inplace=True)

tryp_323_DN_Diatoms = tryp_323_DN_Dia.join(tryp_323_DN_NAAF, how='left', rsuffix='_other')


print('# of total diatom peptides = ', len(tryp_323_DN_Diatoms))

tryp_323_DN_Diatoms.head()

In [ ]:
# write to a csv

tryp_323_DN_Diatoms.to_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T2_323_trypsin_DN_NAAF_diatom_peptides.csv")

In [7]:
# join the dataframes if the peptide values are the same using 'join'
# since a couple are de novo only (more for bacteria), we won't have all the UniPept peptides overlap 

tryp_323_DN_Bac.set_index('peptide', inplace=True)
tryp_323_DN_NAAF.set_index('peptide', inplace=True)

tryp_323_DN_Bacteria = tryp_323_DN_Bac.join(tryp_323_DN_NAAF, how='left', rsuffix='_other')


print('# of total Bacteria peptides = ', len(tryp_323_DN_Bacteria))

tryp_323_DN_Bacteria.head()

# of total Bacteria peptides =  176

,lca,superkingdom,kingdom,subkingdom,superphylum,phylum,subphylum,superclass,class,subclass,...,genus,subgenus,species,group,species.1,subgroup,species.2,subspecies,Area,NAAF_num.
peptide,,,,,,,,,,,,,,,,,,,,,
ALATTTPAR,Azospirillum,oryzae,Bacteria,NaN,NaN,NaN,Proteobacteria,NaN,NaN,Alphaproteobacteria,...,NaN,Azospirillum,NaN,NaN,NaN,Azospirillum,oryzae,NaN,107000.0,11888.888889
AMLGKSNK,Ornithinibacillus,halophilus,Bacteria,NaN,NaN,NaN,Firmicutes,NaN,NaN,Bacilli,...,NaN,Ornithinibacillus,NaN,NaN,NaN,Ornithinibacillus,halophilus,NaN,294000.0,36750.000000
ANLTDAQK,Calothrix,elsteri,Bacteria,NaN,NaN,NaN,Cyanobacteria,NaN,NaN,NaN,...,NaN,Calothrix,NaN,NaN,NaN,Calothrix,elsteri,NaN,194000.0,24250.000000
APGDYKR,Chitinophaga,niastensis,Bacteria,NaN,NaN,NaN,Bacteroidetes,NaN,NaN,Chitinophagia,...,NaN,Chitinophaga,NaN,NaN,NaN,Chitinophaga,niastensis,NaN,359000.0,51285.714286
CVDGREK,Acidobacteria,bacterium,Bacteria,NaN,NaN,NaN,Acidobacteria,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Acidobacteria,bacterium,NaN,45600.0,6514.285714

In [8]:
# write to a csv

tryp_323_DN_Bacteria.to_csv("/home/millieginty/Documents/git-repos/rot-mayer/data/processed/I-L_NAAFs/T2_323_trypsin_DN_NAAF_bacteria_peptides.csv")